{% extends "Project/base.html" %}

{% block title %}Main page{% endblock %}
{% block content %}
	<h1 style="text-align:center">Welcome</h1>
	<h3 style="text-align:center"> This project is lit. </h3>
<div class = "list">
Termín odevzdávání: na cvičeních v týdnu od 18.12.2017 do 22.12.2017<br>

Pomocí Django frameworku naprogramujte jednoduchou webovou aplikaci, která bude splňovat následující kritéria:<br>

aplikace bude obsahovat alespoň 6 modelů (2 řešitelé) nebo 3 modely (1 řešitel), které budou vzájemně provázány vazbou<br>
k modelům vytvořte adekvátní administrativní rozhraní<br>
aplikace bude obsahovat alespoň 12 view (2 řešitelé) nebo 6 view (1 řešitel) a s tím spojené URL, které budou s modely pracovat<br>
view Vaší aplikace budou obsah předávat templatům (budete tedy implementovat 12 templatů (2 řešitelé) nebo 6 templatů (1 řešitel)<br>
aplikace bude obsahovat alespoň 6 formulářů (2 řešitelé) nebo 3 formuláře (1 řešitel) (ať už formulář vázaný na model nebo Váš vlastní)<br>
výsledná aplikace by měla tvořit nějaký logický celek, tj. jednotlivé stánky na sebe budou odkazoval pomocí linků<br>
blogovací a fórum aplikace nejsou přípustné, neboť jsme je dělali na přednášce<br>
projekt na téma benzínové stanice není přípustný, neboť jsme jej dělali na cvičeních<br>
aplikace nemusí obsahovat grafické prvky a CSS styly<br>
aplikace nemusí obsahovat geografickou složku<br>
aplikace nesmí obsahovat generické view<br>
Aplikace může být např. Vaše velmi jednoduchá implementace služby Twitter, část školního informačního systému (udělování zápočtu studentům), nějaká část modré stránky<br> (Facebook), apod.Termín odevzdávání: na cvičeních v týdnu od 18.12.2017 do 22.12.2017<br>

Pomocí Django frameworku naprogramujte jednoduchou webovou aplikaci, která bude splňovat následující kritéria:<br>

aplikace bude obsahovat alespoň 6 modelů (2 řešitelé) nebo 3 modely (1 řešitel), které budou vzájemně provázány vazbou<br>
k modelům vytvořte adekvátní administrativní rozhraní<br>
aplikace bude obsahovat alespoň 12 view (2 řešitelé) nebo 6 view (1 řešitel) a s tím spojené URL, které budou s modely pracovat<br>
view Vaší aplikace budou obsah předávat templatům (budete tedy implementovat 12 templatů (2 řešitelé) nebo 6 templatů (1 řešitel)<br>
aplikace bude obsahovat alespoň 6 formulářů (2 řešitelé) nebo 3 formuláře (1 řešitel) (ať už formulář vázaný na model nebo Váš vlastní)<br>
výsledná aplikace by měla tvořit nějaký logický celek, tj. jednotlivé stánky na sebe budou odkazoval pomocí linků<br>
blogovací a fórum aplikace nejsou přípustné, neboť jsme je dělali na přednášce<br>
projekt na téma benzínové stanice není přípustný, neboť jsme jej dělali na cvičeních<br>
aplikace nemusí obsahovat grafické prvky a CSS styly<br>
aplikace nemusí obsahovat geografickou složku<br>
aplikace nesmí obsahovat generické view<br>
Aplikace může být např. Vaše velmi jednoduchá implementace služby Twitter, část školního informačního systému (udělování zápočtu studentům), nějaká část modré stránky<br> (Facebook), apod.	<br>
</div>
{% endblock %}
